//
// colors
//
$light: #fff;
$dark: #414141;
$darken: #111;

$grey1: #e4e3e5;
$grey2: #f4f4f4;

$success: #0dc356;
$danger: #f94c4c;
$warning: #f7af2c;

* {
	margin: 0;
	padding: 0;
	line-height: 1.4;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	scroll-behavior: smooth;
	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-track {
		background: #777;
	}
	&::-webkit-scrollbar-thumb {
		background: #FFCC21;
		border-radius: 10px;
	}
}
html,
body {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 15px;
	line-height: 1.4;
	letter-spacing: 1px;
	color: $dark;
}
h1,
h2,
h3,
h4 {
	font-weight: normal;
}
button,
input,
select,
textarea,
a {
  outline: 0;
  &:focus {
    outline: 0;
  }
}

a,
button {
	cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
	list-style: none;
}

hr {
	margin: 10px 0;
	background: #e4e3e5;
	height: 1px;
	border: 0;
}

.section {
	padding: 25px 0;
	@media (min-width: 768px) {
		padding: 40px 0;
	}
	@media (min-width: 1140px) {
		padding: 60px 0;
	}
}
//
// loader
//
.lds-ring {
  display: flex;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 111111;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, .9);
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  border: 4px solid $dark;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $dark transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
//
// classes
//
.px-15 {
	padding: 0 15px;
}

.py-15 {
	padding: 15px 0;
}

.p-15 {
	padding: 15px;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.mb-5 {
	margin-bottom: 5px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-25 {
	margin-bottom: 25px;
}

.mb-30 {
	margin-bottom: 30px;
}

.ml-auto {
	margin-left: auto;
}

.mr-auto {
	margin-right: auto;
}

.cursor-pointer {
	cursor: pointer;
}

.bg-dark {
	background: $dark;
}

.title {
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-bottom: 20px;
	@media (min-width: 1024px) {
		margin-bottom: 24px;
	}
}

.font-weight-bold {
	font-weight: 600;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.container {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 1320px;
	padding: 0 15px;
	&.container-md {
		@media (min-width: 991px) {
			max-width: 940px;
		}
		@media (min-width: 1200px) {
			max-width: 1140px;
		}
	}
}

.container-fluid {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.btn {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 18px;
	width: 296px;
	padding: 14px;
	background: linear-gradient(32.95deg, #FFCC21 8.75%, #FF963C 86.64%);
	color: $light;
	border: 1px solid $dark;
	transition: background .15s;
	display: block;
	margin: 0 auto 64px;
	border-radius: 6px;
	border: 0;
	text-align: center;
}

.header {
	z-index: 11;
	position: sticky;
	padding: 16px 0 8px;
	top: 0;
	left: 0;
	width: 100%;
	background: $dark;
	@media (min-width: 1024px) {
		padding: 14px 0 8px;
	}
	.logo {
		max-width: 110px;
		display: block;
		margin-right: auto;
	}
	.container {
		display: flex;
		align-items: center;
	}
}

.main-nav {
	display: flex;
	align-items: center;
	position: relative;
	a {
		svg {
			margin-right: 10px;
		}
		text-decoration: none;
		text-transform: uppercase;
		color: $light;
		font-size: 16px;
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		padding: 14px 12px;
	}
	button {
		background: transparent;
		margin-left: 32px;
		cursor: pointer;
		border: 0;
	}
	.sub-menu {
		display: none;
		background: #777;
		position: absolute;
		top: 100%;
		right: 0;
		z-index: 1;
		&.active {
			display: block;
		}
		li {
			position: relative;
			&::after {
				content: '';
				display: block;
				height: 1px;
				left: 0;
				bottom: 0;
				width: 100%;
				background: $light;
				mix-blend-mode: normal;
				opacity: .15;
			}
			a {
				display: block;
				padding: 22px 32px;
				color: $light;
				font-size: 18px;
			}
		}
	}
}

.flex-row {
	display: flex;
}

.align-items-center {
	align-items: center;
}

.grid-row {
	display: grid;
	&.two-column {
		grid-template: auto / repeat(2, 1fr);
		grid-gap: 10px;
	}
	&.two-column-md {
		grid-gap: 10px;
		@media (min-width: 768px) {
			grid-template: auto / repeat(2, 1fr);
		}
	}
	&.three-column-md {
		grid-gap: 10px;
		@media (min-width: 768px) {
			grid-template: auto / repeat(3, 1fr);
		}
	}
	&.four-column-md {
		grid-gap: 10px;
		grid-template: auto / repeat(2, 1fr);
		@media (min-width: 768px) {
			grid-template: auto / repeat(4, 1fr);
		}
	}
	
	&.banner-row {
		align-items: stretch;
		position: relative;
		@media (min-width: 1024px) {
			grid-template: auto / 40% 1fr;
		}
		.left {
			background: top center no-repeat;
			background-size: cover;
			position: relative;
			> div {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		.right {
			padding: 10px;
		}
	}
}

.overflow-hidden {
	overflow: hidden !important;
}

.nav-tab {
	display: grid;
	grid-template: auto / repeat(4, 134px);
	grid-gap: 84px;
	margin: 25px auto;
	max-width: 800px;
	.nav-item {
		padding-top: 115%;
		position: relative;
		background: url(../images/hexagon_bg.png) center no-repeat;
		background-size: cover;
		cursor: pointer;
		svg {
			position: absolute;
			top: 45%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		span {
			font-size: 20px;
			position: absolute;
			left: 50%;
			transform: translate(-50%, 0);
			bottom: 27px;
			color: $light;
		}
	}
}

.scroll-to-top {
	opacity: 0;
	position: fixed;
	right: 25px;
	bottom: 25%;
	width: 48px;
	height: 48px;
	background: $light;
	border: 1px solid #777;
	border-radius: 50%;
	transition: opacity .25s;
}

.product-item {
	.image {
		padding-top: 100%;
		background: $grey2 top center no-repeat;
		background-size: cover;
		position: relative;
		cursor: pointer;
		.name {
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 50%;
			background: #FFCC21;
			color: $light;
			padding: 8px 10px;
		}
	}
}

.footer {
	padding: 56px 0;
	background: $dark;
	a {
		color: $light;
		font-size: 11px;
		display: inline-block;
		margin: 0 46px 0 0;
	}
}
