.section-banner {
	background: #2e2e2e;
}

.product-page {
	padding: 56px 0 0;
	.filter {
		grid-gap: 32px;
		margin-bottom: 56px;
		div {
			background: $dark;
			padding: 22px;
			text-align: center;
			cursor: pointer;
		}
		p {
			padding-bottom: 10px;
			margin-bottom: 10px;
			font-size: 22px;
			text-transform: uppercase;
			color: #FFCC21;
			position: relative;
			&::after {
				content: '';
				display: block;
				width: 56px;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translate(-50%, 0);
				border-top: 1px solid $light;
			}
		}
		span {
			font-size: 18px;
			color: $light;
		}
	}
}